<%= form_with(model: municipio) do |form| %>
  <%= model_error_alert(municipio.errors) %>

  <div class="mb-3">
    <%= form.label 'Nome da cidade', class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :estado_id, class: 'form-label' %>
    <%= form.select :estado_id, Estado.all.collect { |estado| [estado.nome, estado.id] }, {}, class: 'form-select' %>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= form.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>


