<%= form_with(model: municipe) do |form| %>
  <%= model_error_alert(municipe.errors) %>

  <div class="mb-3">
    <%= form.label :status, class: 'form-label' %>
    <br>
    <%= form.radio_button :status, 'ativo', :checked => true %> Ativo
    <%= form.radio_button :status, 'inativo' %> Inativo
  </div>

  <div class="row mb-3">
    <div class="col-md-8">
      <%= form.label :nome_completo, class: 'form-label' %>
      <%= form.text_field :nome_completo, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= form.label :foto, class: 'form-label' %>
      <%= form.file_field :foto, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <%= form.label :data_nascimento, class: 'form-label' %>
      <%= form.date_field :data_nascimento, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= form.label :cpf, class: 'form-label', class: 'form-label' %>
      <%= form.text_field :cpf, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= form.label :cns, class: 'form-label', class: 'form-label' %>
      <%= form.text_field :cns, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-7">
      <%= form.label :email, class: 'form-label', class: 'form-label' %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
    <div class="col-md-5">
      <%= form.label :telefone, class: 'form-label' %>
      <%= form.text_field :telefone, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12>
      <%= form.label :municipio, class: 'form-label' %>
      <%= form.text_field :municipio_id, class: 'form-control', list: 'lista_municipios', value: municipe&.municipio&.nome_listagem_formatado || '' %>
      <%= datalist_municipios %>
      <span class="blockquote-footer">Não encontrou seu município? <%= link_to 'Cadastre-o aqui', new_municipio_path %></span>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= form.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
