<div id="<%= dom_id municipe %>" class="row">
  <div class="col-md-8">
    <%= render_field_data('Nome completo', municipe.nome_completo ) %>
    <div class="row">
      <div class="col-md-8">
        <%= render_field_data('Município', "#{municipe.municipio.nome}/#{municipe.municipio.estado.sigla}") %>
      </div>
      <div class="col-md-4">
        <%= render_field_data('Status', municipe.status ) %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <%= render_field_data('CPF', municipe.cpf ) %>
      </div>
      <div class="col-md-4">
        <%= render_field_data('CNS', municipe.cns ) %>
      </div>
      <div class="col-md-4">
        <%= render_field_data('Nascimento', municipe.data_nascimento_formatada ) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= render_field_data('E-mail', municipe.email ) %>
      </div>
      <div class="col-md-4">
        <%= render_field_data('Telefone', municipe.telefone ) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <%= render_field_data('E-mail', municipe.email ) %>
      </div>
      <div class="col-md-4">
        <%= render_field_data('Telefone', municipe.telefone ) %>
      </div>
    </div>

    <h4>Dados de endereço</h4>

    <div class="row">
      <div class="col-md-12">
        <%= render_field_data('Logradouro', municipe&.endereco&.logradouro ) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= render_field_data('Complemento', municipe&.endereco&.complemento ) %>
      </div>
      <div class="col-md-4">
        <%= render_field_data('Municipio', municipe&.endereco&.municipio&.nome ) %>
      </div>
      <div class="col-md-4">
        <%= render_field_data('CEP', municipe&.endereco&.cep ) %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render_field_data('Foto', "<img src='#{municipe.foto.url}' class='img-fluid rounded-circle' alt='Foto de perfil'>" ) %>
  </div>
</div>
